@import './../helper/Colors.scss';
body{
    max-width: 100%;
}
.NavStyle {
    color: $MainColor;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    @media(max-width:600px) {
        max-width: 100%;
    }
    ul {
        @media(max-width:600px) {
            padding: 0 0 0 21px ;
            
        }
        li{
            list-style: none;
            font-size: 12px;
            @media only screen and (min-width: 600px) and (max-width: 1024px) {
                font-size: 30px;
            }
           a{
            text-decoration: none;
           }
        }
        hr {
            position: absolute;
            margin: -25px 0 0 60px;
            border: none;
            border-left: 1px solid $MainColor;
            height: 30px;
            @media(max-width:600px){
                display: none;
            }
            @media only screen and (min-width: 600px) and (max-width: 1024px) {
               display: none;
            }
          }
    }
    h4{
       right: 0;
       position: absolute;
       margin-right: 30px;
       @media only screen and (min-width: 600px) and (max-width: 1024px) {
        font-size: 30px;
        margin-top: 18px;
     }
    }
}
