@import './../helper/Colors.scss';
@import './../helper/mixin.scss';

.AllStaf{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    @media(max-width:600px) {
        display: flex;
        flex-direction: column;
    }
    @media only screen and (min-width:600px) and (max-width:1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.cards{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
        @include Head(14px);
    }
    hr{
        color: $cardBorder;
        width: 90%;
        height: 7px;
        background-color: $cardBorder;
    }
    
}
.myImage {
    border-radius: 50%;
    

    img{
        width: 70%;
        border-radius: 70%;
    }
}

.myh1{
    @include Head(48px);
    text-align: center;
    @media(max-width:600px){
        margin-top: 330px;
    }

}