@use './lins.scss' as *;

@mixin paraf($colored: white){
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $colored;
}

@mixin Head($Size: 128px){
    font-size: $Size;
    color: $MainColor;
    font-family: "Jura", sans-serif;
    font-weight: 400;
}