@import './../helper/Colors.scss';
@import './../helper/mixin.scss';

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: $cardBorder;
    margin-top: 30px;
    @media(max-width: 600px){
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }
    div{
        text-align: center;
       h1{
        @include Head(32px);
        color: white;
       }
       p{
        @include paraf;
       }
    }
    .image1{
        img{
            position: absolute;
            left: 80%;
            margin-top: -80px;
            width: 40px;
            height: 40px;
            @media(max-width:600px) {
                left: 60%;
            }
            @media only screen and (min-width:600px) and (max-width:1024px) {
                left: 78%;
            }
        }
    }
    .image2{
        img{
            position: absolute;
            left: 84%;
            margin-top: -80px;
            width: 40px;
            height: 40px;
            @media(max-width:600px) {
                left: 73%;
            }
        }
    }
}